.jumboStyle {
    background: url('./nytimesbuilding.jpeg');
    background-repeat: no-repeat;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    background-size: cover;
    height: 500px;
}

.firstRow {
    text-align: center;
    /* text-decoration: underline rgb(227, 233, 255); */

}

.searchTitle {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.buttonColor {
    background: rgb(101, 119, 255);
    width: 50%;
}

.badgeColor {
    background: rgb(101, 119, 255);
    color: white;
}

.buttonColor:hover {
    background: rgb(51, 69, 203);

}

.badgeColor:hover {
    background: rgb(51, 69, 203);
}

.badgeColor:active {
    background: rgb(172, 181, 248);
}

.buttonColor:active {
    background: rgb(172, 181, 248);
}

.leftSide {
    background: url('./tallnyt.jpg');
    background-size: cover;
    height: 500px;
}


/* 
.li { background: green; }
.li:nth-child(odd) { background: red; } */

